body {
	margin: 0;
	background: cream;
	font-family: 'Indie Flower', cursive;
	font-weight: 800;
}

.container {
	width: 100%;
  height: 50px;
	margin: 0 auto;
}

header {
  background:#808080
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}
.box{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-egRaQl9wrx9Eyi5fWyNyGG-DfMoW2HHPww&usqp=CAU);
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #444;
}

nav a:before {
  content: '';
  display: block;
  height: 5px;
  background-color: orange;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.inner{
  background-color:#creme;
  border:5px solid #000;
  margin:25px;
  padding:25px
}
.social-menu ul {
  position:absolute;
  top:50%
  left: 50%
    padding: 0;
    margin: 0;

.footer {
  background-color:
    height:80px;
    width:100%;
  position: relative
    top:700px;
}
.footer-col {
  height:
  width:
  float:
  margin-left:
    
    .button{
      height: 20px;
      width: 60px;
 
}
.fab {
  font-size: 2em;
  
}

  .fa-twitter{
 
  color: blue;
  }
  .fa-instagram{
  text-color: yellow;
  }
