
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

body {
	margin: 0;
	background: cream;
	font-family: 'Indie Flower', cursive;
	font-weight: 800;
}

.container {
	width: 100%;
  height: 50px;
	margin: 0 auto;
}

header {
  background:#808080
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}
.box{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-egRaQl9wrx9Eyi5fWyNyGG-DfMoW2HHPww&usqp=CAU);
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #444;
}

nav a:before {
  content: '';
  display: block;
  height: 5px;
  background-color: orange;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.inner{
  background-color:#creme;
  border:5px solid #000;
  margin:25px;
  padding:25px
}
.social-menu ul {
  position:absolute;
  top:50%
  left: 50%
    padding: 0;
    margin: 0;
  
}
.footer {
  background-color:
    height:80px;
    width:100%;
  position: relative
    top:700px;
}
.footer-col {
  height:
  width:
  float:
  margin-left:
    
    .button{
      height: 20px;
      width: 60px;
 
}
.fab {
  font-size: 2em;
  
}

.fa-twitter-square;
  color: #00acee;
  {
 .fa-instagram-square; 
    color: purple
  }